<a name="schedule-top-top" class="schedule-top-top"><h1><span class="schedules-header"><%= t("apply_for_others_schedule") %></span></h1></a>
<div>
  <%= t("apply_for_others_schedule_explanation") %>
</div>
<div class="top-schedules" id="top-schedules">
  <%= render "/top/schedules_apply" %>
</div>
