<a name="schedule-top-top" class="schedule-top-top"><h1><span class="schedules-header"><%= t("conversation_history") %></span></h1></a>
<div>
  <%= t("conversation_history_explanation").html_safe %>
</div>
<div class="top-schedules" id="top-schedules">
  <%= render "/top/schedules_history" %>
</div>
