<a name="schedule-top-top" class="schedule-top-top"><h1><span class="schedules-header"><%= t("watch_lesson_video") %></span></h1></a>
<div>
  <%= t("watch_lesson_video_explanation").html_safe %>
</div>
<%= render "/top/courses" %>
