<a name="schedule-top-top" class="schedule-top-top"><h1><span class="schedules-header"><%= t("register_schedule_of_english_conversation") %></span></h1></a>
<div class="top-schedule-register">
  <%= render "/schedules/register_schedule", is_top: true %>
</div>
