<a name="schedule-top-top" class="schedule-top-top"><h1><span class="schedules-header"><%= t("english_conversation_schedules") %></span></h1></a>
<div>
  <%= t("english_conversation_schedules_explanation").html_safe %>
</div>
<div class="top-schedules" id="top-schedules">
  <%= render "/top/schedules" %>
</div>
